@media (max-width: 981px) {
  .container_main {
    justify-content: center;
  }
  .images__Landscapes {
    gap: 10px;
  }
}

@media (max-width: 981px) {
  .images__Landscapes {
    justify-content: center;
  }
  .footer h3 {
    font-size: 43px;
  }
  .footer__a {
    font-size: 33px;
  }
}

@media (max-width: 350px) {
  .title_text {
    text-align: center;
  }
  .head_top {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .footer h3 {
    padding-top: 50px;
  }
}
